/** @format */

.sign__in__container {
  position: absolute;
  top: 263%;
  left: 50%;
  transform: translateX(-50%);
  background-color: darkviolet;
  border-radius: 35px;
  padding: 35px;
  &__inner {
    @include flex(center, center, column);
    i {
      font-size: 10px;
      color: white;
    }
    .anticon-right-circle {
      padding: 0px !important;
      font-size: 35px;
      color: white;
    }
    &__content {
      @include flex(center, center, column);
      gap: 15px;
      input {
        border: none;
        border-radius: 35px;
        background-color: #fafafa;
        line-height: 1.5;
        padding: 15px 25px;
        outline: none;
      }
    }
  }
}
